@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@using TestMudBlazorApplication.Dialogs;
@using TestMudBlazorApplication.Models;
@*
@using TestMudBlazorApplication.Services;
@inject ICardService CardService;*@
@inject IDialogService DialogService

@inject HttpClient _http

<h3>ScrumboardPage</h3>



@page "/page"
<MudDropContainer T="Card" @ref="_dropContainer" Items="@_tasks" ItemsSelector="@((item,column) => item.CardStatus == column)" ItemDropped="TaskUpdated" Class="d-flex flex-row">
	<ChildContent>
		@foreach (var item in _sections)
		{
			<MudPaper Elevation="0" Width="224px" MinHeight="400px" Class="pa-4 ma-4 d-flex flex-column mud-background-gray rounded-lg">
				<MudToolBar DisableGutters="true">
					<MudText Typo="Typo.subtitle1"><b>@item.ColumnName</b></MudText>
					<MudSpacer />
					<MudMenu Icon="@Icons.Material.Rounded.MoreHoriz" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" ListClass="pa-2 d-flex flex-column" PopoverClass="mud-elevation-25">
						<MudButton Size="Size.Small" Color="Color.Error" StartIcon="@Icons.Outlined.Delete" OnClick="@( () => DeleteSection(item))">Delete Section</MudButton>
						<MudButton Size="Size.Small" Color="Color.Default" StartIcon="@Icons.Rounded.Edit">Rename Section</MudButton>
					</MudMenu>
				</MudToolBar>
				<MudDropZone T="Card" Identifier="@item.ColumnName" Class="mud-height-full" />
				<MudButton OnClick="@(() => {item.NewTaskOpen = !item.NewTaskOpen; AddTask(item);})" StartIcon="@Icons.Filled.Add" FullWidth="true" Class="rounded-lg py-2">Add Task</MudButton>
			</MudPaper>
		}
		<MudPaper Class="pa-4" Elevation="0" Width="224px">
			@if (_addSectionOpen)
			{
				<MudPaper Elevation="0" Width="224px" Class="pa-4 d-flex flex-column mud-background-gray rounded-lg">
					<EditForm Model="@newSectionModel" OnValidSubmit="OnValidSectionSubmit">
						<DataAnnotationsValidator />
						<MudTextField @bind-Value="newSectionModel.Name" For="@(() => newSectionModel.Name)" Placeholder="New Section" DisableUnderLine="true"></MudTextField>
						<MudButton ButtonType="ButtonType.Submit" Size="Size.Small" Color="Color.Primary" FullWidth="true">Add Section</MudButton>
					</EditForm>
				</MudPaper>
			}
			else
			{
				<MudButton OnClick="OpenAddNewSection" Variant="Variant.Outlined" StartIcon="@Icons.Filled.Add" Color="Color.Primary" Class="rounded-lg py-2" FullWidth="true">Add Section</MudButton>
			}
		</MudPaper>
	</ChildContent>
	<ItemRenderer>
		<MudButton OnClick="@(() => {UpdateTask(context);})">
			<MudPaper Elevation="25" Class="pa-4 rounded-lg my-3">@context.Title</MudPaper>
		</MudButton>
	</ItemRenderer>
</MudDropContainer>

<MudMessageBox @ref="AddCardMessageBox">
	<MessageContent>
		<MudTextField @bind-Value="_newCard.Title" Placeholder="Title" DisableUnderLine="true" Margin="Margin.Dense" Class="mx-2 mt-n2"></MudTextField>
		<MudTextField @bind-Value="_newCard.CardDescription" Placeholder="Description" DisableUnderLine="true" Margin="Margin.Dense" Class="mx-2 mt-n2"></MudTextField>
		<MudSelect Placeholder="Assign user" @bind-Value="_newCard.AssignedUser">
			@foreach (var item in _users)
			{
				<MudSelectItem Value="@item">@item.Initials</MudSelectItem>
			}
		</MudSelect>
	</MessageContent>
	<YesButton>
		<MudButton Variant="Variant.Filled" Color="Color.Error">Add</MudButton>
	</YesButton>
	<NoButton>
		<MudButton Variant="Variant.Filled" Color="Color.Error">Cancel</MudButton>
	</NoButton>
	<CancelButton>

	</CancelButton>
</MudMessageBox>

@code {
	protected override async Task OnInitializedAsync()
	{
		_sections = await _http.GetFromJsonAsync<List<Column>>("http://localhost:5213/api/Column"); //List<Column> tempColumn
																									//foreach (var item in tempColumn)
																									//{
																									//	Console.WriteLine("tempColumn id: " + item.ColumnId);
																									//	Console.WriteLine("tempColumn name: " + item.ColumnName);
																									//	_sections.Add(new Column(item.ColumnId, item.ColumnName, false));
																									//}
		foreach (var item in _sections)
		{
			Console.WriteLine("_section id: " + item.ColumnId);
			Console.WriteLine("_section name: " + item.ColumnName);
		}

		List<Card> tempCards = await _http.GetFromJsonAsync<List<Card>>("http://localhost:5213/api/Card"); //await CardService.GetAllCards();
		foreach (var item in tempCards)
		{
			_tasks.Add(item);
		}
		_users = await _http.GetFromJsonAsync<List<User>>("http://localhost:5213/api/User");
		_dropContainer.Refresh();
		Console.WriteLine("Refreshed _dropContainer");
	}
	private MudDropContainer<Card> _dropContainer;

	private bool _addSectionOpen;

	private List<User> _users = new();
	private Card _newCard = new();
	/* handling board events */
	private async void TaskUpdated(MudItemDropInfo<Card> info)
	{
		info.Item.CardStatus = info.DropzoneIdentifier;
		await _http.PutAsJsonAsync<Card>($"http://localhost:5213/api/Card/{info.Item.CardId}", info.Item);

	}

	/* Setup for board  */
	private List<Column> _sections = new()
	{
	};

	public class KanBanSections
	{
		public string Name { get; init; }
		public bool NewTaskOpen { get; set; }
		public string NewTaskName { get; set; }

		public KanBanSections(string name, bool newTaskOpen, string newTaskName)
		{
			Name = name;
			NewTaskOpen = newTaskOpen;
			NewTaskName = newTaskName;
		}
	}

	private List<Card> _tasks = new();

	KanBanNewForm newSectionModel = new KanBanNewForm();

	public class KanBanNewForm
	{
		[Required]
		[StringLength(10, ErrorMessage = "Name length can't be more than 10.")]
		public string Name { get; set; }
	}

	private void OnValidSectionSubmit(EditContext context)
	{
		_sections.Add(new Column(0, newSectionModel.Name, false));
		newSectionModel.Name = string.Empty;
		_addSectionOpen = false;
	}

	private void OpenAddNewSection()
	{
		_addSectionOpen = true;
	}

	private async void UpdateTask(Card card)
	{
		var parameters = new DialogParameters();
		parameters.Add("StatusName", card.CardStatus);
		parameters.Add("Columns", _sections);
		parameters.Add("oldCard", card);
		parameters.Add("_users", _users);

		var dialog = DialogService.Show<CardInformationDialog>("edit card", parameters);
		var result = await dialog.Result;
		var newCard = result.Data;
		Console.WriteLine("result.Cancelled: " + result.Cancelled);
		if (newCard is not null && !result.Cancelled)
		{
			Card card1;
			try
			{

				card1 = (Card)newCard;
				int taskId = _tasks.FindIndex(t => t.CardId == card.CardId);
				_tasks[taskId] = card1;
				_dropContainer.Refresh();
			}
			catch (Exception ex)
			{
				Console.WriteLine(ex.Message);
			}

		}
	}

	private async void AddTask(Column section)
	{
		var parameters = new DialogParameters();
		parameters.Add("StatusName", section.ColumnName);
		parameters.Add("Columns", _sections);
		parameters.Add("oldCard", null);
		parameters.Add("_users", _users);

		var dialog = DialogService.Show<CardInformationDialog>("Add table", parameters);
		var result = await dialog.Result;
		var newCard = result.Data;
		section.NewTaskOpen = false;
		if (newCard is not null && !result.Cancelled)
		{
			Card card1;
			try
			{
				card1 = (Card)newCard;
				_tasks.Add(card1);
			}
			catch (Exception ex)
			{
				Console.WriteLine(ex.Message);
			}

		}

		//bool? result = await AddCardMessageBox.Show();
		//if (result == true)
		//{
		//	Card card = new()
		//		{
		//			UserId = _newCard.AssignedUser.UserId,
		//			Title = _newCard.Title,
		//			CardStatus = section.Name,
		//			CardDescription = _newCard.CardDescription,
		//		};
		//	HttpResponseMessage responseMessage = await _http.PostAsJsonAsync($"http://localhost:5213/api/Card", card);
		//	if (responseMessage.IsSuccessStatusCode == true)
		//	{
		//		_tasks.Add(card);
		//	}
		//}
		//else
		//{
		//	_newCard.AssignedUser = null;
		//	_newCard.Attachment = null;
		//	_newCard.Title = null;
		//	_newCard.CardStatus = null;
		//	_newCard.CardDescription = null;
		//}
		
		//
		//_tasks.Add(new Card()
			//{
			//	CardId = 2,
			//	Title = section.NewTaskName,
			//	CardStatus = section.Name,
			//	CardDescription = section.Name
			//});
		section.NewTaskOpen = false;
		_dropContainer.Refresh();
	}
	private async void DeleteTask(Card card)
	{
		HttpResponseMessage responseMessage = await _http.DeleteAsync($"http://localhost:5213/api/Card/{card.CardId}");
		if (responseMessage.IsSuccessStatusCode == true)
		{
			_tasks.Remove(card);
			_dropContainer.Refresh();
		}

	}

	private void DeleteSection(Column section)
	{
		if (_sections.Count == 1)
		{
			_tasks.Clear();
			_sections.Clear();
		}
		else
		{
			int newIndex = _sections.IndexOf(section) - 1;
			if (newIndex < 0)
			{
				newIndex = 0;
			}

			_sections.Remove(section);

			var tasks = _tasks.Where(x => x.CardStatus == section.ColumnName);
			foreach (var item in tasks)
			{
				item.CardStatus = _sections[newIndex].ColumnName;
			}
		}
	}

	MudMessageBox AddCardMessageBox { get; set; }
}

